services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    expose:
      - "3000"
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - website
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
